__pycache__/
__pycache__

migrations
migrations/
/migrations/

.idea/
.idea

.vscode/
.vscode
.pytest_cache/
.pytest_cache
/settings.py
.settings.py
settings.py
/staticfiles
/assets/uploads/*

venv/
/venv/
venv/*